@model WorkWithHtmlHelpers.Models.CustomHtmlHelpers.ArrayModel

<!DOCTYPE html>

<html>
	<head>
		<title>Declarative Html Helper</title>
	</head>
	<body>
		<div>
			@CustomHelpers.ListArrayItems(Model.Values)
		</div>
	</body>
</html>