<!DOCTYPE html>

<html>
	<head>
		<title>Validation Samples</title>
	</head>
	<body>
		<ul>
			<li>
				@Html.ActionLink("Server Validation", "SimpleServerValidation", "Home")
			</li>
			<li>
				@Html.ActionLink("Client Validation", "SimpleClientValidation", "Home")
			</li>
			<li>
				@Html.ActionLink("Client Validation Localization", "ValidationLocalization", "Home")
			</li>
			<li>
				@Html.ActionLink("Display Name Localization", "DisplayNameLocalization", "Home")
			</li>
		</ul>
	</body>
</html>