<!DOCTYPE html>

<html>
	<head>
		<title>Validation Samples</title>
	</head>
	<body>
		<ul>
			<li>
				@Html.ActionLink("Not Used ActionLink", "BeforeActionLink", "Home")
			</li>
			<li>
				@Html.ActionLink("Use ActionLink", "WithActionLink", "Home")
			</li>
			<li>
				@Html.ActionLink("Ajax Form", "WithAjaxForm", "Home")
			</li>
		</ul>
	</body>
</html>