<!DOCTYPE html>

<html>
	<head>
		<title>View Models Samples</title>
	</head>
	<body>
		<ul>
			<li>
				@Html.ActionLink("Dynamic View Model", "DynamicView", "Home")
			</li>
			<li>
				@Html.ActionLink("StrongTyped View Model", "StrongTypeView", "Home")
			</li>
		</ul>
	</body>
</html>