@model WorkWithModels.Models.Home.HomeModel

<!DOCTYPE html>

<html>
	<head>
		<title>Strong Type</title>
	</head>
	<body>
		<div>
			@Model.Field1
			<br/>
			@Model.Field2
			<br/>
			@Model.Field3
		</div>
	</body>
</html>